# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: QABuildAgentPool

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- script: |
    mkdir -p "$(TEST_RESULTS_DIR)"
    pytest --targetbrowser=edge  --env=uat  --headed -s -v --junitxml="$(TEST_RESULTS_DIR)/junit.xml"

- task: PublishTestResults@2
  displayName: 'Publish JUnit test results'
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '$(TEST_RESULTS_DIR)/junit.xml'
    failTaskOnFailedTests: true
    testRunTitle: 'PyTest Results'

- task: PublishTestResults@2
  displayName: 'Publish JUnit test results'
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '$(TEST_RESULTS_DIR)/junit.xml'
    failTaskOnFailedTests: true
    testRunTitle: 'PyTest Results'
